<div class="row" ng-controller="admin-UpdateStudentCtrl">
  <div class="col-md-4">

      <div class="sidebar">
        <a href="#" ng-click="Logout()" class="logout-btn">Logout</a><br><br>
        <ul class="sidebar-list">
          <li> <a href="#!admin/faculty">List of Faculty</a> </li>
          <li> <a href="#!admin/student">Student</a> </li>
          <li> <a href="#!admin/classes">Classes</a> </li>
          <li> <a href="#!admin/approval">Approvals</a> </li>
          <li> <a href="#!admin/attendance">Attendance</a> </li>
        </ul>
      </div>

  </div>

  <div class="col-md-8">

  <div class="detail-sec">
    <b>Name:</b> <span>Prof. Avinav Pathak</span> &nbsp;&nbsp;&nbsp;
    <b>Signed in as:</b> <span>Admin</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <!-- <input type="text" name="search" placeholder="Search" class="input-search"> -->
  </div>


  <div class="index_form_jumbotron index_form_jumbotron2-width">
    <form name="student_register_form" ng-submit="UpdateStudent()">
      <h4>Update Student Profile</h4>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" ng-model="name" pattern="[a-zA-Z\s]{2,}" maxlength="30" class="form-control" required>
            <div ng-hide="student_register_form.name.$pristine">
              <span ng-hide="student_register_form.name.$valid" class="help-block">Numerals and special characters are not allowed.<br> Must contain at least 2 characters.</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="rollno">Roll number</label>
            <input type="text" name="rollno" ng-model="rollno" ng-disabled="true" class="form-control" maxlength="20" pattern="[a-zA-Z]+[0-9][a-zA-Z0-9]*" required>
            <div ng-hide="student_register_form.rollno.$pristine">
              <span ng-hide="student_register_form.rollno.$valid" class="help-block">Must be alphanumeric.<br> Must contain at least 3 characters.</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="course">Course</label>
            <select class="form-control" name="course" ng-model="course" ng-options="opt for opt in courseArr" required>
              <option value="">Select Course</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="branch">Branch</label>
            <select class="form-control" name="branch" ng-model="branch" ng-options="opt for opt in branchArr" required>
              <option value="">Select Branch</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="year">Year</label>
            <select class="form-control" name="year" ng-model="year" ng-options="opt for opt in yearArr" required>
              <option value="">Select Year</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="semester">Semester</label>
            <select class="form-control" name="semester" ng-model="semester" ng-options="opt for opt in semArr" required>
              <option value="">Select Semester</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" ng-model="email"  class="form-control" required>
            <div ng-hide="student_register_form.email.$pristine">
              <span ng-hide="student_register_form.email.$valid" class="help-block">enter valid email address.</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" ng-model="password" pattern="[A-Z]+[a-z]+[@#$]+[0-9]*" maxlength="30" class="form-control" required>
            <div ng-hide="student_register_form.password.$pristine">
              <span ng-hide="student_register_form.password.$valid" class="help-block">Start with capital letter.<br>Small letter, special symbol @,#,$ and numeric.</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="confirm">Confirm Password</label>
            <input type="password" name="confirmpassword" ng-model="confirmpassword" maxlength="30"  class="form-control" required>
            <div ng-hide="student_register_form.confirmpassword.$pristine">
              <span ng-if="confirmpassword!=password" class="help-block">Match the password.</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <input type="submit" name="submit" ng-disabled="student_register_form.$invalid || confirmpassword!=password" value="Update" class="form-button">
        </div>
      </div>
    </form>
  </div>


  </div>
</div>
